body {
  margin: 0;
  overflow: hidden;
  background-size: 100% 100%;
  user-select: none;
}

h2 {
  font-size: 4em;
}
#screen {
  display: grid;
  grid-template: 100% / 100%;
  aspect-ratio: 16/9;
  width: 100%;
}

#game {
  background-color: blue;
  grid-area: 1 / 1;
  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(img/nybaggrund.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#game_elements {
  grid-area: 1 / 1;
  overflow: hidden;
  position: relative;
}

#bird_container {
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 20%;
}

#bird_container img {
  width: 55%;
}

#bird_container2 {
  z-index: 1;
  max-width: fit-content;
  position: absolute;
  left: 75%;
  top: 35%;
}

#bird_container2 img {
  width: 35%;
}

#bird_container3 {
  z-index: 1;
  position: absolute;
  top: auto;
  left: 50%;
}

#seagul3 {
  width: 35%;
}

#birdshit_container {
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 20%;
}

#birdshit_container img {
  width: 10%;
}

#birdshit_container2 {
  z-index: 1;
  position: absolute;
  top: auto;
  left: 50%;
}

#birdshit_container2 img {
  width: 15%;
}
#kid1_container {
  z-index: 1;
  position: absolute;
  right: -15%;
}

#kid1_container img {
  width: 45%;
}

#kid2_container {
  z-index: 1;
  position: absolute;
  left: 50%;
}

#kid2_container img {
  width: 45%;
}

#kid3_container {
  z-index: 1;
  position: absolute;
  right: 60%;
}

#kid3_container img {
  width: 45%;
}

.position1 {
    bottom: 5vw;
}

.position2 {
    bottom: 40vw;
}

.position3 {
    bottom: 200vw;
}

#game_ui {
  z-index: 2;
}

#heart_container1 {
  z-index: 2;
  position: absolute;
    top: 5%;
    right: -10%;
}

#heart_container1 img {
  width: 15%;
}

#heart_container2 {
  z-index: 2;
  position: absolute;
  top: 5%;
  right: -5%;
}

#heart_container2 img {
  width: 15%;
}

#heart_container3 {
  z-index: 2;
  position: absolute;
  top: 5%;
  right: 0%;
}
#heart_container3 img {
  width: 15%;
}


#timeboard_container img {
  width: 25%;
}

#timeboard_container {
  z-index: 2;
  position: absolute;
  top: 0%;
}

#scoreboard_container {
  position: absolute;
  left: 10%;
  display: grid;
  grid-area: 1/1;
  top: 0%;
}

#scoreboard_container img {
  width: 15%;
}

#point_count {
  position: absolute;
  top: 45px;
  left: 40px;
}

#game_over {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: url(img/nybaggrund.jpg);
  color: #ffffff;
}

#level_complete,
#start {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: url(img/nybaggrund.jpg);
  color:rgba(224, 23, 33, 0.918);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

#level_complete {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: gold;
  align-content: center;

}

p {
  font-size: larger;
}



