
#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16/9;
  width:100%;
  background-color: red;
  align-items: center;
  position: relative;
}

#game {
  
grid-area: 1 / 1;
background-color: blue;
overflow: hidden;
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-width: 2px;
  border-color: black;
}

#game_background {
  background-image: url(https://img.freepik.com/free-vector/realistic-summer-background_52683-62823.jpg?w=900&t=st=1676459159~exp=1676459759~hmac=751d92998401c6d2501a980358c3b921d6de6d5df3876f9895d32502569939b7.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}


#game_elements {
    grid-area: 1 / 1;
    position: relative;
    overflow: hidden;
}


#bird_container {
  z-index: 1;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  position: absolute;
  width: 10%;
  left: 70%;
}

#bird_container2 {
  z-index: 1;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  position: absolute;
  left: 50%;
}

#bird_container3 {
  z-index: 1;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  position: absolute;
  left: 30%;
}

#birdshit_container {
    max-width: 100%;
  z-index: 1;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  position: absolute;
  left: 25%;
  top: 25%;
}

#kids_container {
    z-index: 1;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    position: relative;
    top: 20%;
    bottom: 10%;

}

#start {
  background-color: cornflowerblue;
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/* #game_foregroud {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    position: absolute;
    left; 50%:
} */

#game_over {
  background-color: green;
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 1;
  height: 100%;
  width: 100%;
}

#level_complete {
  background-color: gold;
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 1;
  height: 100%;
  width: 100%;
  border-width: 5px;
  border-color: black;
}



@media screen and (max-width: 600px) {
  #game_elements_helicopter img,
  #game_elements_human img {
    width: 50px;
    height: 50px;
  }
}

.hidden {
  visibility: hidden;
}
