body {
  margin: 0;
  overflow: hidden;
  background-size: 100% 100%;
}

#screen {
  display: grid;
  grid-template: 100% / 100%;
  aspect-ratio: 16/9;
  width: 100%;
  background-color: red;
  /* align-items: center; */
  position: absolute;
}

#game {
  /* grid-area: 1 / 1; */
  background-color: blue;
  overflow: hidden;
  /* grid-row-start: 1;
  grid-column-start: 1; */
  /* z-index: 2;
  height: 100%; */
  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(img/background.summer.png);
  background-repeat: no-repeat;
  /* background-size: auto;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw; */
  background-size: cover;
  background-attachment: fixed;
  
  /* height: 1080px;
  width: 1920px;
  z-index: -1; */
  /* position: absolute; */
}

#game_elements {
  grid-area: 1 / 1;
  /* position: absolute; */
  overflow: hidden;
}

#bird_container {
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 20%;
}

#bird_container img {
  width: 55%;
}

#bird_container2 {
  z-index: 1;
  max-width: fit-content;
  position: absolute;
  left: 75%;
  top: 35%
}

#bird_container2 img {
  width: 35%;
}

#bird_container3 {
  z-index: 1;
  position: absolute;
  top: auto;
  left: 50%;
}

#seagul3 {
  width: 35%;
}

#birdshit_container {
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 20%;
}

#birdshit_container img {
  width: 10%;
}

#birdshit_container2 {
  z-index: 1;
  position: absolute;
   top: auto;
  left: 50%;
}

#birdshit_container2 img {
  width: 15%;

}
#kid1_container {
  z-index: 1;
  position: absolute;
  /* bottom: 25%; */
  right: -15%;
}

#kid1_container img {
  width: 45%;
}

#kid2_container {
  z-index: 1;
  position: absolute;
  /* bottom: 25%; */
  left: 50%;
}

#kid2_container img {
  width: 45%;
}

#kid3_container {
  z-index: 1;
  position: absolute;
  /* bottom: 25%; */
  right: 60%;
}

#kid3_container img {
  width: 45%;
}


#heart_container1 {
  z-index: 2;
  position: absolute;
  top:5%;
  right: -10%;
}

#heart_container1 img {
  width: 15%;
}

#heart_container2 {
  z-index: 2;
  position: absolute;
  top:5%;
  right: -5%;
}

#heart_container2 img {
  width: 15%;
}

#heart_container3 {
  z-index: 2;
  position: absolute;
  top:5%;
  right: 0%;
}
#heart_container3 img {
  width: 15%;
}


.active_heart {
   filter: drop-shadow(0 0 2px yellow);
}

.broken_heart {
    filter: grayscale(75%) blur(.5px);
}
#timeboard_container img {
  width: 25%;
}


#timeboard_container {
  z-index: 2;
  position:absolute;
}

#scoreboard_container {
  z-index: 2;
  position: absolute;
  left:10%;
  display: grid;
  grid-area: 1/1;
}

#scoreboard_container img{
  width: 15%;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}


span#coin_count {
  z-index: 2;
 grid-column-start: 1;
  grid-column-end: 2;    
}




#start {
  grid-area: 1 / 1;
  background-color: cornflowerblue;
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/* #game_foregroud {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    position: absolute;
    left; 50%:
} */

#game_over {
  grid-area: 1 / 1;
  background-color: green;
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 1;
  height: 100%;
  width: 100%;
}

#level_complete {
  grid-area: 1 / 1;
  background-color: gold;
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 1;
  height: 100%;
  width: 100%;
  border-width: 5px;
  border-color: black;
}




